<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SGRC | BAC</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" type="image/png" href="~/imgs/logo_r.png" />

    @*@Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css")*@
    @Styles.Render("~/Content/font-awesome/css/font-awesome.css")
    @Styles.Render("//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    @Styles.Render("~/Plugins/select2/select2.min.css")
    @Styles.Render("~/Content/dist/css/admin-lte.css")
    @Styles.Render("~/Plugins/timepicker/bootstrap-timepicker.css")
    @Styles.Render("~/Content/dist/css/skins/skin-red-light.css")
    @Styles.Render("~/Content/dist/css/skins/skin-red.css")
    @Styles.Render("~/Content/custom.css")
    @Styles.Render("~/Content/bootstrap/css/bootstrap-datetimepicker.css")
    @Styles.Render("~/Plugins/TimeCircles/TimeCircles.css")
    @Styles.Render("~/Plugins/fullcalendar/fullcalendar.css")
    @Styles.Render("~/Plugins/contextmenu/jquery.contextMenu.css")
    @Styles.Render("~/Content/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Content/datatables/css/jquery.dataTables.min.css")
    @Styles.Render("~/Content/datatables/css/dataTables.bootstrap.min.css")
    @Styles.Render("~/Content/datatables/buttons/css/buttons.dataTables.min.css")

    @Styles.Render("~/Content/dist/css/animate.css")
    @Styles.Render("~/Content/dist/css/bac-sgrc.css")

    @Scripts.Render("~/Content/plugins/jquery/js/jQuery-2.1.4.min.js")
    @Scripts.Render("~/Content/plugins/jquery/js/jquery-ui.min.js")
    @Scripts.Render("~/Content/plugins/jquery/js/jquery.mask.min.js")

    @Scripts.Render("~/Content/datatables/js/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/bootstrap/js/moment.js")
    @Scripts.Render("~/Content/datatables/js/dataTables.bootstrap.min.js")
    @Scripts.Render("~/Content/datatables/js/dataTables.buttons.min.js");

    @Scripts.Render("~/Content/bootstrap/js/bootstrap-datetimepicker.js")
    @Scripts.Render("~/Content/bootstrap/js/bootstrap-datetimepicker.es.js")
    @Scripts.Render("~/Plugins/select2/select2.full.js")
    @Scripts.Render("~/Plugins/timepicker/bootstrap-timepicker.js")
    @Scripts.Render("~/Plugins/jQueryUI/jquery-ui.js")
    @Scripts.Render("~/Plugins/fullcalendar/fullcalendar.js")
    @Scripts.Render("~/Plugins/fullcalendar/locale-all.js")
    @Scripts.Render("~/Plugins/contextmenu/jquery.contextMenu.js")
    @Scripts.Render("~/Plugins/contextmenu/jquery.ui.position.js")
    @Scripts.Render("~/Plugins/TimeCircles/TimeCircles.js")
    @Scripts.Render("~/Plugins/printThis-master/printThis.js")
    @Scripts.Render("~/Plugins/cryptoJS/aes.js")
    @Scripts.Render("~/Content/bootstrap/js/bootstrap.js")

    <!--Archivos necesarios para el DataTables exporte a Excel-->

    @Scripts.Render("~/Content/datatables/js/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/datatables/buttons/js/dataTables.buttons.min.js")
    @Scripts.Render("~/Content/datatables/buttons/js/buttons.print.min.js")
    @Scripts.Render("~/Content/datatables/buttons/js/jszip.min.js")
    @Scripts.Render("~/Content/datatables/buttons/js/buttons.html5.min.js")
    @Styles.Render("~/Content/datatables/js/extensions/FixedHeader/css/fixed.header.min.css")
    @Scripts.Render("~/Content/datatables/js/extensions/FixedHeader/js/fixed.header.min.js")

    @Scripts.Render("~/Scripts/bootbox.js")
</head>

<body class="hold-transition skin-red sidebar-mini bac">
    <div class="wrapper">
        <header class="main-header">
            <a href="@Url.Action("Dashboard", "Home")" class="logo smooth-transition" style="font-size:14px;">
                <span class="logo-mini"><img src="~/imgs/logo_w.png" height="34px" /></span>
                <span class="logo-lg"><img src="~/imgs/logo_cw.png" height="34px" /></span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle smooth-transition" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Menu</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown messages-menu hide">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdow">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">Tienes 4 mensajes</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Content/dist/img/user.png" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Support Team
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <p>Texto del mensaje...</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Content/dist/img/user.png" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Admin Design Team
                                                    <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                                </h4>
                                                <p>Texto del mensaje...</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Content/dist/img/user.png" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Developers
                                                    <small><i class="fa fa-clock-o"></i> Today</small>
                                                </h4>
                                                <p>Texto del mensaje...</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Content/dist/img/user.png" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Sales Department
                                                    <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                                </h4>
                                                <p>Texto del mensaje...</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Content/dist/img/user.png" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Reviewers
                                                    <small><i class="fa fa-clock-o"></i> 2 days</small>
                                                </h4>
                                                <p>Texto del mensaje...</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">Ver todos los mensajes</a></li>
                            </ul>
                        </li>
                        <li class="dropdown notifications-menu hide">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdow">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                                page and may cause design problems
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-red"></i> 5 new members joined
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-red"></i> You changed your username
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <li class="dropdown tasks-menu hide">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdow">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <h3>
                                                    Design some buttons
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <h3>
                                                    Create a nice theme
                                                    <small class="pull-right">40%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">40% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <h3>
                                                    Some task I need to do
                                                    <small class="pull-right">60%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">60% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <h3>
                                                    Make beautiful transitions
                                                    <small class="pull-right">80%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">80% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Content/dist/img/user.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p class="userName"></p>
                        <a href="#" class="hide"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <form action="#" method="get" class="sidebar-form hide">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <ul class="sidebar-menu">
                    <li class="header">MENÚ PRINCIPAL</li>
                    <li id="LSM_CONF" class="treeview hide LSM LSM_CONF">
                        <a href="#" title="Configuración">
                            <i class="fa fa-cogs"></i> <span>Configuración</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="LSM_CONF010" class="hide LSM LSM_CONF010"><a class="text-ellipsis smooth-transition" href="@Url.Action("index", "Configuracion")" title="Catálogos Generales"><i class="fa fa-circle-o"></i> Catálogos Generales</a></li>
                            <li id="LSM_CONF020" class="hide LSM LSM_CONF020"><a class="text-ellipsis smooth-transition" href="@Url.Action("index", "Prioridades")" title="Prioridades"><i class="fa fa-circle-o"></i> Prioridades</a></li>
                            <li id="LSM_CONF030" class="hide LSM LSM_CONF030"><a class="text-ellipsis smooth-transition" href="@Url.Action("index", "Feriados")" title="Feriados"><i class="fa fa-circle-o"></i> Feriados</a></li>
                            <li id="LSM_CONF040" class="hide LSM LSM_CONF040"><a class="text-ellipsis smooth-transition" href="@Url.Action("index", "Tramites")" title="Trámites"><i class="fa fa-circle-o"></i> Trámites</a></li>
                            <li id="LSM_CONF050" class="hide LSM LSM_CONF050"><a class="text-ellipsis smooth-transition" href="@Url.Action("tipo_razones", "TipoRazones")" title=" Razones de Cancelación"><i class="fa fa-circle-o"></i> Razones de Cancelación</a></li>
                            <li id="LSM_CONF050" class="hide LSM LSM_CONF050"><a class="text-ellipsis smooth-transition" href="@Url.Action("tipo_razones_autoservicio", "TipoRazones")" title=" Razones de Cancelación Autoservicio"><i class="fa fa-circle-o"></i> Razones de Cancelación Autoservicio</a></li>
                            <li id="LSM_CONF060" class="hide LSM LSM_CONF060"><a class="text-ellipsis smooth-transition" href="@Url.Action("index", "Sucursales")" title="Sucursales"><i class="fa fa-circle-o"></i> Sucursales</a></li>
                            <li id="LSM_CONF070" class="hide LSM LSM_CONF070"><a class="text-ellipsis smooth-transition" href="@Url.Action("index", "Emisores")" title="Emisores"><i class="fa fa-circle-o"></i> Emisores</a></li>
                            <li>
                                <a href="#" title="Configuraciones de Motor">
                                    <i class="fa fa-caret-down"></i><span>Configuraciones de Motor</span><i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li id="LSM_CONF090" class="hide LSM LSM_CONF090"><a class="text-ellipsis smooth-transition" href="@Url.Action("index","Funciones")" title="Funciones"><i class="fa fa-circle-o"></i> Funciones</a></li>
                                    <li id="LSM_CONF080" class="hide LSM LSM_CONF080"><a class="text-ellipsis smooth-transition" href="@Url.Action("index","Variables")" title="Variables"><i class="fa fa-circle-o"></i> Variables</a></li>
                                    <li id="LSM_CONF100" class="hide LSM LSM_CONF100"><a class="text-ellipsis smooth-transition" href="@Url.Action("index","ConfiguracionesMotor")" title="Configuraciones de Motor de Retenciones"><i class="fa fa-circle-o"></i> Configuraciones Motor Rentenciones</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li id="LSM_PDCC" class="treeview hide LSM LSM_PDCC">
                        <a href="#" title="Programación de citas">
                            <i class="fa fa-calendar"></i> <span>Programación de citas</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="LSM_PDCC010" class="hide LSM LSM_PDCC010"><a class="text-ellipsis smooth-transition" href="@Url.Action("index", "Citas")" title="Programar Citas"><i class="fa fa-circle-o"></i> Programar Cita</a></li>
                            <li id="LSM_PDCC020" class="hide LSM LSM_PDCC020"><a class="text-ellipsis smooth-transition" href="@Url.Action("programacion_cc", "Citas")" title="Programar Citas (CC)"><i class="fa fa-circle-o"></i> Programar Citas (CC)</a></li>
                        </ul>
                    </li>
                    <li id="LSM_ADCC" class="treeview hide LSM LSM_ADCC">
                        <a href="#" title="Atención de citas">
                            <i class="fa fa-calendar-check-o"></i> <span>Atención de citas</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="LSM_ADCC010" class="hide LSM LSM_ADCC010"><a class="text-ellipsis smooth-transition" href="@Url.Action("Bienvenida", "AtencionCitas")" title="Bienvenida"><i class="fa fa-circle-o"></i> Bienvenida</a></li>
                            <li id="LSM_ADCC030" class="hide LSM LSM_ADCC030"><a class="text-ellipsis smooth-transition" href="@Url.Action("Index", "AtencionCitas")" title="Citas Pendientes"><i class="fa fa-circle-o"></i> Citas Pendientes</a></li>
                        </ul>
                    </li>
                    <li id="LSM_CYRS" class="treeview hide LSM LSM_CYRS">
                        <a href="#" title="Explotación de datos">
                            <i class="fa fa-pie-chart"></i> <span>Explotación de datos</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="LSM_CYRS010" class="hide LSM LSM_CYRS010"><a class="text-ellipsis smooth-transition" href="@Url.Action("Dashboard_estatus_cita", "Reportes")" title="Dashboard de Citas"><i class="fa fa-circle-o"></i> Dashboard de Citas</a></li>
                            <li id="LSM_CYRS020" class="hide LSM LSM_CYRS020"><a class="text-ellipsis smooth-transition" href="@Url.Action("Dashboard_atencion_asesor", "Reportes")" title="Dashboard  Walk in"><i class="fa fa-circle-o"></i> Dashboard  Walk IN</a></li>
                            <li id="LSM_CYRS030" class="hide LSM LSM_CYRS030"><a class="text-ellipsis smooth-transition" href="@Url.Action("Dashboard_flujo_por_intervalo", "Reportes")" title="Dashboard Flujo por intervalo"><i class="fa fa-circle-o"></i> Dashboard Flujo por Intervalo</a></li>
                            <li id="LSM_CYRS040" class="hide LSM LSM_CYRS040"><a class="text-ellipsis smooth-transition" href="@Url.Action("Dashboard_de_efectividad", "Reportes")" title="Dashboard de efectividad"><i class="fa fa-circle-o"></i> Dashboard de Efectividad</a></li>
                            <li id="LSM_CYRS050" class="hide LSM LSM_CYRS050"><a class="text-ellipsis smooth-transition" href="@Url.Action("Dashboard_consolidado", "Reportes")" title="Dashboard consolidado"><i class="fa fa-circle-o"></i> Dashboard Consolidado</a></li>
                            <li id="LSM_CYRS080" class="hide LSM LSM_CYRS080"><a class="text-ellipsis smooth-transition" href="@Url.Action("Dashboard_razon_cancelacion", "Reportes")" title="Dashboard razón de cancelación"><i class="fa fa-circle-o"></i> Dashboard Razón de Cancelación</a></li>
                            <li id="LSM_CYRS090" class="hide LSM LSM_CYRS090"><a class="text-ellipsis smooth-transition" href="@Url.Action("Dashboard_citas_programadas", "Reportes")" title="Dashboard Citas Programadas"><i class="fa fa-circle-o"></i> Dashboard Citas Programadas</a></li>
                            <li id="LSM_CYRS100" class="hide LSM LSM_CYRS100"><a class="text-ellipsis smooth-transition" href="@Url.Action("Dashboard_atenciones_realizadas", "Reportes")" title="Dashboard de Operación"><i class="fa fa-circle-o"></i> Dashboard de Operación</a></li>
                            <li id="LSM_CYRS110" class="hide LSM LSM_CYRS110"><a class="text-ellipsis smooth-transition" href="@Url.Action("Dashboard_comportamiento_incidencia", "Reportes")" title="Dashboard de Comportamiento de Incidencias"><i class="fa fa-circle-o"></i> Dashboard de Comportamiento de Incidencias</a></li>
                            <li id="LSM_CYRS120" class="hide LSM LSM_CYRS120"><a class="text-ellipsis smooth-transition" href="@Url.Action("Dashboard_Atencion_por_tiempo_espera", "Reportes")" title="Dashboard Atencion por tiempo espera"><i class="fa fa-circle-o"></i> Dashboard Atencion por Tiempo Espera</a></li>
                            <li id="LSM_CYRS130" class="hide LSM LSM_CYRS130"><a class="text-ellipsis smooth-transition" href="@Url.Action("Dashboard_MantaDatos", "Reportes")" title="Dashboard manta de datos"><i class="fa fa-circle-o"></i> Dashboard Manta de Datos</a></li>
                            <li id="LSM_CYRS140" class="hide LSM LSM_CYRS140"><a class="text-ellipsis smooth-transition" href="@Url.Action("Dashboard_Incidencia_Motor", "Reportes")" title="Dashboard incidencia de motor"><i class="fa fa-circle-o"></i> Dashboard Incidencia de Motor</a></li>
                            <li id="LSM_CYRS140" class="hide LSM LSM_CYRS140"><a class="text-ellipsis smooth-transition" href="@Url.Action("Dashboard_Ofrecimientos", "Reportes")" title="Dashboard ofrecimientos"><i class="fa fa-circle-o"></i> Dashboard Ofrecimientos</a></li>
                            <li id="LSM_CYRS140" class="hide LSM LSM_CYRS140"><a class="text-ellipsis smooth-transition" href="@Url.Action("Dashboard_Ofrecimientos2", "Reportes")" title="Dashboard ofrecimientos"><i class="fa fa-circle-o"></i> Dashboard Ofrecimientos 2</a></li>
                            <li id="LSM_CYRS140" class="hide LSM LSM_CYRS140"><a class="text-ellipsis smooth-transition" href="@Url.Action("Dashboard_Reversiones", "Reportes")" title="Dashboard ofrecimientos"><i class="fa fa-circle-o"></i> Dashboard Reversiones</a></li>
                        </ul>
                    </li>
                    <li id="LSM_MTR" class="treeview hide LSM LSM_MTR">
                        <a href="#" title="Motor de Retenciones">
                            <i class="fa fa-credit-card"></i> <span>Motor de Retenciones</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="LSM_MTR020" class="hide LSM LSM_MTR020"><a class="text-ellipsis smooth-transition" href="@Url.Action("Index", "EvaluacionAnualidad")" title="Anualidades"><i class="fa fa-circle-o"></i> Anualidades</a></li>
                            <li id="LSM_MTR030" class="hide LSM LSM_MTR030"><a class="text-ellipsis smooth-transition" href="@Url.Action("Index", "EvaluacionReversion")" title="Reversiones"><i class="fa fa-circle-o"></i> Reversiones</a></li>
                            <li id="LSM_MTR040" class="hide LSM LSM_MTR040"><a class="text-ellipsis smooth-transition" href="@Url.Action("Index", "EvaluacionTasa")" title="Tasas"><i class="fa fa-circle-o"></i> Tasas</a></li>
                            <li id="LSM_MTR040" class="hide LSM LSM_MTR050"><a class="text-ellipsis smooth-transition" href="@Url.Action("Index", "EvaluacionCombo")" title="Combos"><i class="fa fa-circle-o"></i> Combos</a></li>
                        </ul>
                    </li>
                    <li id="LSM_DPCF" class="treeview hide LSM LSM_DPCF">
                        <a href="#" title="Vista Citas Clientes">
                            <i class="fa fa-clock-o"></i> <span>Vista Citas Clientes</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="LSM_DPCF01" class="hide LSM LSM_DPCF01"><a class="text-ellipsis smooth-transition" href="@Url.Action("Vista_cita_cliente", "Citas")" title="Vista Citas Clientes"><i class="fa fa-circle-o"></i> Vista Citas Clientes</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <div class="row">
                <section id="MyAlerts">
                    <div class="col-md-12">
                        <div data-alerts="alerts" data-titles="{&quot;danger&quot;: &quot;&lt;em&gt;Advertencia!&lt;/em&gt;&quot;}" data-ids="error" data-fade="5000"></div>
                        <div data-alerts="alerts" data-titles="{&quot;success&quot;: &quot;&lt;em&gt;Correcto!&lt;/em&gt;&quot;}" data-ids="success" data-fade="5000"></div>
                    </div>
                </section>
            </div>
            <section class="bac content-header hide">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.SubTitle</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Dashboard", "Home")" title=""><i class="fa fa-dashboard"></i></a></li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </section>

            <section class="content">
                @RenderBody()
            </section>
        </div>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0
            </div>
            <strong>Copyright | BAC &copy; @DateTime.Now.Year.</strong> All rights reserved.
        </footer>

        <div class="control-sidebar-bg"></div>
    </div>

    @RenderSection("menu", required: false)

    @Scripts.Render("~/Scripts/Shared/_Layout.js")
    @Scripts.Render("~/Content/dist/js/app.js")
    @Scripts.Render("~/Scripts/jquery.bsAlerts.js")
    @Scripts.Render("~/Scripts/js/global.js")
    @Scripts.Render("~/Scripts/js/security.js")
    @Scripts.Render("~/Plugins/jquery-validate/js/jquery.validate.js")
    @Scripts.Render("~/Plugins/jquery-validate/js/jquery.validate-vsdoc.js")
    @Scripts.Render("~/Plugins/jquery-validate/js/jquery.validate.unobtrusive.js")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            SetUserData();
        });
    </script>
</body>
</html>
<style type="text/css">
    #MyAlerts {
        position: absolute;
        top: 500px;
        right: 0;
        width: 1000px;
        height: 1100px;
    }
</style>